[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "*"
django = "*"
django-ckeditor = "*"
djangorestframework = "*"
django-filter = "*"
django-cleanup = "*"
drf-writable-nested = "*"
python-dotenv = "*"
pillow = "*"
psycopg2-binary = "*"
django-admin-sortable = "*"
pytelegrambotapi = "*"
django-multiselectfield = "*"
django-q = "*"
django-simple-history = "*"
drf-flex-fields = "*"
pytest-mock = "*"
django-cachalot = "*"
gunicorn = "*"
cachetools = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
django-imagekit = "*"
djangoql = "*"
django-computedfields = "*"
tqdm = "*"
django-constance = "*"
dacite = "*"
django-picklefield = "*"
fuzzywuzzy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"
coverage = "*"
factory_boy = "*"
black = "*"
mypy = "*"
pylint = "*"
django-debug-toolbar = "*"
ipykernel = "*"
pytest-asyncio = "*"
tqdm = "*"

[requires]
python_version = "3.11"
