#-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
attrs==22.2.0 ; python_version >= '3.6'
django==4.1.4
django-ckeditor==6.5.1
django-cleanup==6.0.0
django-filter==22.1
django-js-asset==2.0.0 ; python_version >= '3.6'
djangorestframework==3.14.0
drf-spectacular==0.25.1
drf-writable-nested==0.7.0
inflection==0.5.1 ; python_version >= '3.5'
jsonschema==4.17.3 ; python_version >= '3.7'
pillow==9.3.0
psycopg2-binary==2.9.5
pyrsistent==0.19.3 ; python_version >= '3.7'
python-dotenv==0.21.0
pytz==2022.7
pyyaml==6.0 ; python_version >= '3.6'
sqlparse==0.4.3 ; python_version >= '3.5'
tzdata==2022.7 ; sys_platform == 'win32'
uritemplate==4.1.1 ; python_version >= '3.6'
