.text-underline {
  text-decoration: underline;
}
.text-inherit{
  color: inherit;
}

.bg-none {
  background: none !important;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .bar_week_select {
    background: white;
  }
  .print-week-hide, .print-hide {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  @page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
  }

  .weekday-col-6,
  .weekday-col-7 {
    order: 10;
  }
}
